@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-success" id="personelGetir">Personel Getir</button>
            </div>
            <div class="col-md-8">
                <div id="kisiGetirAlani">
                    <ul id="kisiGetir"></ul>
                </div>
            </div>
        </div>
        <hr />
    </div>
